body {
  padding: 0px;
  margin: 0px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container::after, .container::before {
  content: '';
  display: table;
  clear: both;
}

.grid-3 {
  width: calc(25% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  background: gray;
  color: white;
  float: left;
}

p {
  color: blue;
}
